body {
  background: linear-gradient(
    180.2deg,
    rgb(30, 33, 48) 6.8%,
    rgb(74, 90, 110) 131%
  );
  color: #fafdfd;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 15px;
}

h1,
h2,
h3,
p {
  line-height: 1.5;
}

.navbar {
  background: #000000;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 75px;
}

a.nav-link {
  color: #fafdfd;
}

.navbar-collapse {
  display: flex;
  justify-content: right;
  text-align: right;
}

.navbar-toggler-icon {
  color: #fafdfd;
}

li.nav-item {
  padding: 0 10px;
}

.disney-logo {
  max-height: 60px;
}

a {
  color: #a99572;
  text-decoration: none;
}

a:hover {
  color: #fafdfd;
}

.img-fluid {
  border-radius: 8px;
  height: auto;
}

.main-container {
  width: 80%;
  display: block;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 25px 50px;
}

footer {
  margin-top: 30px;
  padding: 20px;
}

footer,
.specifics {
  text-align: center;
}

.grid-2-columns {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.bmw-logo {
  width: 90%;
}

.boy-meets-world-cast {
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}

.grid-7-columns {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 2fr);
  grid-gap: 10px;
}

.grid-7-columns img,
.bmw-drawing-collage,
.pod-meets-world img {
  max-width: 100%;
  height: auto;
  transition: all 150ms ease-in-out;
  display: block;
  margin: 0 auto;
}

.grid-7-columns img:hover {
  transform: scale(1.2);
}

.bmw-drawing-collage:hover,
.pod-meets-world img:hover {
  transform: scale(1.1);
}

.youtube-video {
  border-radius: 8px;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.pod-meets-world img {
  display: block;
  margin: 0 auto;
}

.quote-container,
.pod-meets-world {
  background: #fafdfd;
  border-radius: 8px;
  color: #000000;
  padding: 12px 20px;
  width: 75%;
  display: block;
  margin: 0 auto;
}

.quote {
  margin: 0;
}

.btn {
  background: #a99572;
  border-radius: 8px;
  color: #fafdfd;
  display: block;
  margin: 15px auto;
  padding: 12px 20px;
  width: 250px;
}

.btn:hover {
  background: #fafdfd;
  color: #a99572;
}

.btn-play {
  width: 200px;
}

@media (max-width: 1200px) {
  .main-container {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  h1 {
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  section {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
  }

  .grid-2-columns {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: auto;
  }

  .boy-meets-world-cast {
    margin-top: 20px;
  }

  .grid-7-columns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 7fr);
    grid-gap: 10px;
    margin: 0 auto;
  }

  .grid-7-columns img {
    margin: 0 auto;
  }

  .btn {
    font-size: 14px;
    padding: 10px 15px;
    width: 250px;
  }

  .btn-play {
    width: 150px;
  }

  .quote-container {
    margin-top: 10px;
    width: 100%;
  }

  .pod-meets-world {
    display: grid;
    width: 100%;
  }

  .bmw-drawing {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 13px;
  }

  footer {
    padding: 10px 20px;
  }

  .container-fluid {
    margin: 0 auto;
    padding: 0 25px;
  }

  .main-container {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .btn {
    width: 200px;
  }

  .btn-play,
  .btn-pod {
    width: 130px;
  }

  .pod-meets-world {
    display: block;
  }

  .pod-meets-world img {
    margin: 0 auto;
  }
}
